<!-- file: src/samscollectibles/templates/about.html -->

{% extends 'base.html' %}

{% block title %}About Us{% endblock %}

{% block content %}
<div class="max-w-5xl mx-auto my-10 p-6 bg-white bg-opacity-80 rounded-lg shadow-lg">
    <h2 class="text-3xl font-bold text-center mb-4">About Sam's Collectibles</h2>
    <p class="text-lg leading-7 mb-4">
        I started in 1983 when I purchased my first Star Wars movie poster and got hooked on collecting. Over time, I accumulated around 70 posters. Unfortunately, due to damage from moving, only about 30 posters remain, and they are currently available for sale.
    </p>
    <p class="text-lg leading-7 mb-4">
        Following my love for Star Wars, I began collecting Star Wars Marvel comic books from 1977 and later moved on to Star Wars Dark Horse comics. This collection continues to be a cherished part of my memorabilia.
    </p>
    <p class="text-lg leading-7">
        I then got hooked on non-sports trading cards, with Star Wars and Star Trek making up the bulk of my collection. Today, non-sports trading cards are the cornerstone of my collectibles, with a focus on the worlds and universes that captivated me.
    </p>
</div>
{% endblock %}

